*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.logo-img{
    width: 150px;
    height:auto;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
.container{
    max-width: 98vw;
    margin: auto;
    padding-left:1vw ;
    padding-right: 1vw;
}
/* main view of elements */
.main-box{
    display: flex;
    justify-content: space-evenly;
}
/* search bar and its elements */
.search-box{
    display: flex;
}